**.tlog
**.exp
**.ipch
**.txt
**.sdf
**.opensdf
**.obj
**.user
**.cache
**.pdb
**.lib
**.log
**.dll
**.iobj
**.ipdb
**.ilk
**.suo
**/debug
**/release
###########################
###########################
!/Release/

/Release/*
!/Release/Internal/

/Release/Internal/*
!/Release/Internal/Fasm.NET.dll
###########################
ZzukBot.VC.db
.vs/
Release/Internal/Fasm.NET.dll
ThadHack/Resources/lnk{AF0A2A29-7006-4707-A422-3190E502CC2E}.tmp
ZzukBot.VC.VC.opendb
